<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.win.app.accounts.AccountDAO">
    <!-- 계좌 생성 SQL 매핑 -->
    <insert id="createAccount" parameterType="com.win.app.accounts.AccountDTO">
        INSERT INTO PRODUCT_INFO (PRODUCT_INFO_ID, PRODUCT_ID, M_ID, JOIN_DATE, ACCOUNT_NUMBER, BALANCE)
        VALUES (PRODUCT_INFO_SEQ.NEXTVAL, #{product_id}, #{m_id}, SYSDATE, #{account_number}, #{balance})
    </insert>

    <!-- 계좌 상세 조회 SQL 매핑 -->
    <select id="detail" parameterType="String" resultMap="detailResult">
        SELECT
            pi.PRODUCT_INFO_ID,
            pi.ACCOUNT_NUMBER,
            pi.PRODUCT_ID,
            pi.M_ID,
            pi.JOIN_DATE,
            pi.BALANCE,
            p.PRODUCT_TYPE,
            p.PRODUCT_RATE,
            p.PRODUCT_DETAIL
        FROM
            PRODUCT_INFO pi
        INNER JOIN
            PRODUCT p ON pi.PRODUCT_ID = p.PRODUCT_ID
        WHERE
            pi.ACCOUNT_NUMBER = #{account_number}
    </select>

    <!-- 내 계좌 잔고 업데이트 SQL 매핑 -->
    <update id="updateFromAccountBalance" parameterType="com.win.app.accounts.AccountDTO">
        UPDATE PRODUCT_INFO
        SET BALANCE = #{balance}
        WHERE PRODUCT_INFO_ID = #{product_info_id}
    </update>

    <!-- 상대방 계좌 잔고 업데이트 SQL 매핑 -->
    <update id="updateToAccountBalance" parameterType="com.win.app.accounts.AccountDTO">
        UPDATE PRODUCT_INFO
        SET BALANCE = #{balance}
        WHERE PRODUCT_INFO_ID = #{product_info_id}
    </update>

    <!-- 내 계좌 거래 내역 삽입 SQL 매핑 -->
    <insert id="insertFromAccountHistory" parameterType="com.win.app.history.HistoryDTO">
        INSERT INTO HISTORY (HISTORY_ID, PRODUCT_INFO_ID, HISTORY_TIME, AMOUNT, BALANCE, TYPE)
        VALUES (HISTORY_SEQ.NEXTVAL, #{product_info_id}, SYSDATE, #{amount}, #{balance}, #{type})
    </insert>

    <!-- 상대방 계좌 거래 내역 삽입 SQL 매핑 -->
    <insert id="insertToAccountHistory" parameterType="com.win.app.history.HistoryDTO">
        INSERT INTO HISTORY (HISTORY_ID, PRODUCT_INFO_ID, HISTORY_TIME, AMOUNT, BALANCE, TYPE)
        VALUES (HISTORY_SEQ.NEXTVAL, #{product_info_id}, SYSDATE, #{amount}, #{balance}, #{type})
    </insert>

    <!-- 거래 내역 조회 -->
    <select id="getHistoryList" parameterType="com.win.app.accounts.ListOption" resultType="com.win.app.history.HistoryDTO">
        SELECT
            HISTORY_ID,
            PRODUCT_INFO_ID,
            HISTORY_TIME,
            AMOUNT,
            BALANCE,
            TYPE
        FROM HISTORY
        WHERE PRODUCT_INFO_ID = (SELECT PRODUCT_INFO_ID FROM PRODUCT_INFO WHERE ACCOUNT_NUMBER = #{accountNumber})
        ORDER BY HISTORY_TIME <if test="order == 1">ASC</if><if test="order == 0">DESC</if>
    </select>

    <!-- 계좌 상세 조회 결과 매핑 -->
    <resultMap id="detailResult" type="com.win.app.accounts.AccountDTO">
        <id column="PRODUCT_INFO_ID" property="product_info_id"/>
        <result column="ACCOUNT_NUMBER" property="account_number"/>
        <result column="PRODUCT_ID" property="product_id"/>
        <result column="M_ID" property="m_id"/>
        <result column="JOIN_DATE" property="join_date"/>
        <result column="BALANCE" property="balance"/>
        <association property="productDTO" javaType="com.win.app.product.ProductDTO">
            <id column="PRODUCT_ID" property="product_id"/>
            <result column="PRODUCT_TYPE" property="product_type"/>
            <result column="PRODUCT_RATE" property="product_rate"/>
            <result column="PRODUCT_DETAIL" property="product_detail"/>
        </association>
    </resultMap>
</mapper>
