<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.win.app.members.MemberDAO">

 	<insert id="join" parameterType="com.win.app.members.MemberDTO">
        INSERT INTO MEMBERS (M_ID, MEMBER_NAME, MEMBER_NUMBER, PHONE, EMAIL, MEMBER_ID, MEMBER_PWD)
        VALUES (MEMBERS_SEQ.NEXTVAL, #{member_name}, #{member_number}, #{phone}, #{email}, #{member_id}, #{member_pwd})
    </insert>

 <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
        SELECT * FROM MEMBERS WHERE MEMBER_ID = #{member_id}
    </select>
    
    <select id="getMemberById" parameterType="int" resultType="com.win.app.members.MemberDTO">
        SELECT * FROM MEMBERS WHERE M_ID = #{m_id}
    </select>
    
   <update id="updateMember" parameterType="com.win.app.members.MemberDTO">
        UPDATE MEMBERS
        SET MEMBER_NAME = #{member_name, jdbcType=VARCHAR},
            MEMBER_NUMBER = #{member_number, jdbcType=VARCHAR},
            PHONE = #{phone, jdbcType=VARCHAR},
            EMAIL = #{email, jdbcType=VARCHAR}
        WHERE M_ID = #{m_id, jdbcType=INTEGER}
    </update>
    
</mapper>
