<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.win.app.product.ProductDAO">

  <select id="getList" resultType="com.win.app.product.ProductDTO">
    SELECT * FROM (
        SELECT
            p.PRODUCT_ID,
            p.PRODUCT_TYPE,
            p.PRODUCT_RATE,
            p.PRODUCT_DETAIL,
            ROW_NUMBER() OVER (ORDER BY p.PRODUCT_ID) AS rn
        FROM
            PRODUCT p
    )
    WHERE rn BETWEEN #{startRow} AND #{endRow}
  </select>

  <select id="getDetail" resultType="com.win.app.product.ProductDTO" parameterType="com.win.app.product.ProductDTO">
    SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{product_id}
  </select>
  
  <insert id="addProduct" parameterType="com.win.app.product.ProductDTO">
    INSERT INTO PRODUCT (PRODUCT_ID, PRODUCT_TYPE, PRODUCT_RATE, PRODUCT_DETAIL)
    VALUES (PRODUCT_SEQ.NEXTVAL, #{product_type}, #{product_rate}, #{product_detail})
  </insert>
  
  <update id="updateProduct" parameterType="com.win.app.product.ProductDTO">
    UPDATE PRODUCT SET PRODUCT_TYPE = #{product_type}, PRODUCT_RATE = #{product_rate}, PRODUCT_DETAIL = #{product_detail}
    WHERE PRODUCT_ID = #{product_id}
  </update>
  
  <delete id="deleteProduct" parameterType="com.win.app.product.ProductDTO">
    DELETE FROM PRODUCT WHERE PRODUCT_ID = #{product_id}
  </delete>

  <select id="getTotalProducts" resultType="int">
    SELECT COUNT(*) FROM PRODUCT
  </select>

</mapper>
