<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.win.app.boards.qnas.QnaDAO">
  <resultMap id="QnaResultMap" type="com.win.app.boards.qnas.QnaDTO">
    <id column="BOARD_NUM" property="boardNum"/>
    <result column="BOARD_WRITER" property="boardWriter"/>
    <result column="BOARD_TITLE" property="boardTitle"/>
    <result column="BOARD_CONTENTS" property="boardContents"/>
    <result column="CREATE_DATE" property="createDate"/>
    <result column="UPDATE_DATE" property="updateDate"/>
    <result column="BOARD_CATEGORY" property="boardCategory"/>
    <result column="BOARD_HIT" property="boardHit"/>
    <result column="REF" property="ref"/>
    <result column="STEP" property="step"/>
    <result column="DEPTH" property="depth"/>
  </resultMap>

  <select id="getTotalCount" resultType="java.lang.Long" parameterType="com.win.app.util.Pager">
    SELECT COUNT(BOARD_NUM) FROM QNA
    <where>
      BOARD_NUM > 0
      <choose>
        <when test="kind=='title'">
          AND BOARD_TITLE LIKE '%' || #{search} || '%'
        </when>
        <when test="kind=='contents'">
          AND BOARD_CONTENTS LIKE '%' || #{search} || '%'
        </when>
        <when test="kind=='writer'">
          AND BOARD_WRITER = (SELECT M_ID FROM MEMBERS WHERE MEMBER_NAME LIKE '%' || #{search} || '%')
        </when>
      </choose>
    </where>
  </select>

  <select id="getList" resultMap="QnaResultMap" parameterType="com.win.app.util.Pager">
    SELECT * FROM (
      SELECT ROWNUM R, B.* FROM (
        SELECT *
        FROM QNA
        <where>
          BOARD_NUM > 0
          <choose>
            <when test="kind=='title'">
              AND BOARD_TITLE LIKE '%' || #{search} || '%'
            </when>
            <when test="kind=='contents'">
              AND BOARD_CONTENTS LIKE '%' || #{search} || '%'
            </when>
            <when test="kind=='writer'">
              AND BOARD_WRITER = (SELECT M_ID FROM MEMBERS WHERE MEMBER_NAME LIKE '%' || #{search} || '%')
            </when>
          </choose>
        </where>
        ORDER BY BOARD_NUM DESC
      ) B
    )
    WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>

  <insert id="add" parameterType="com.win.app.boards.qnas.QnaDTO">
    INSERT INTO QNA (BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE, BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY, REF, STEP, DEPTH)
    VALUES (Board_SEQ.NEXTVAL, #{boardTitle}, #{boardWriter}, SYSDATE, SYSDATE, 0, #{boardContents, jdbcType=CLOB}, #{boardCategory, jdbcType=VARCHAR}, #{ref, jdbcType=INTEGER}, #{step, jdbcType=INTEGER}, #{depth, jdbcType=INTEGER})
  </insert>

  <select id="detail" resultMap="QnaResultMap" parameterType="int">
    SELECT * FROM QNA WHERE BOARD_NUM = #{boardNum}
  </select>

  <update id="update" parameterType="com.win.app.boards.qnas.QnaDTO">
    UPDATE QNA SET
      BOARD_TITLE = #{boardTitle},
      BOARD_CONTENTS = #{boardContents, jdbcType=CLOB},
      UPDATE_DATE = SYSDATE,
      BOARD_CATEGORY = #{boardCategory, jdbcType=VARCHAR}
    WHERE BOARD_NUM = #{boardNum}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM QNA WHERE BOARD_NUM = #{boardNum}
  </delete>
  
  <update id="incrementHit" parameterType="int">
    UPDATE QNA SET BOARD_HIT = BOARD_HIT + 1 WHERE BOARD_NUM = #{boardNum}
  </update>

  <!-- Step 업데이트 SQL 문 추가 -->
  <update id="updateStep" parameterType="com.win.app.boards.qnas.QnaDTO">
    UPDATE QNA
    SET STEP = STEP + 1
    WHERE REF = #{ref} AND STEP > #{step}
  </update>

  <!-- 답글 삽입 SQL 문 추가 -->
  <insert id="reply" parameterType="com.win.app.boards.qnas.QnaDTO">
    INSERT INTO QNA (BOARD_NUM, BOARD_WRITER, BOARD_TITLE, BOARD_CONTENTS, CREATE_DATE, UPDATE_DATE, BOARD_HIT, BOARD_CATEGORY, REF, STEP, DEPTH)
    VALUES (Board_SEQ.NEXTVAL, #{boardWriter}, #{boardTitle}, #{boardContents, jdbcType=CLOB}, SYSDATE, SYSDATE, 0, #{boardCategory, jdbcType=VARCHAR}, #{ref, jdbcType=INTEGER}, #{step, jdbcType=INTEGER}, #{depth, jdbcType=INTEGER})
  </insert>

</mapper>

